<div>
  <div class="form-inline mb-2">
    <input placeholder="Times to loot" type="text" class="form-control mr-2" #box>
    <button class="btn btn-primary mr-2" (click)="loot(box.value)">Loot</button>
  </div>
  <div *ngIf="looted">
    <h3>Loot Table - You looted {{ lootResult.timesToLoot }} times and you found {{ lootResult.sumItemsFound() }} items.</h3>
    <table class="table">
      <thead>
        <th>
          Item
        </th>
        <th>Probability</th>
        <th>Found</th>
        <th>Percentage</th>
      </thead>
      <tbody>
        <tr app-loot-item *ngFor="let item of lootResult.lootTable.items" [lootItem]="item"
          [lootResultItem]="lootResult.getLootResultItem(item)" [lootResult]="lootResult"></tr>
        <tr app-loot-item [lootItem]="lootResult.nothingFoundItem.lootItem"
          [lootResultItem]="lootResult.nothingFoundItem" [lootResult]="lootResult"></tr>
      </tbody>
    </table>
  </div>
</div>